@import url('https://fonts.googleapis.com/css2?family=Lobster+Two:ital,wght@0,700;1,400&family=Poppins:wght@600&family=Righteous&display=swap');

body{
    margin: 0;
    padding: 0;
    background-color: rgb(21, 0, 255);
    font-family: 'Poppins', sans-serif;
}

.wrapper-container{
    display: flex;
    justify-content: center;
}

.wrapper{
    width: 900px;
}

.header-container{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.logo{
    font-size: 25px;
    color: white;
}

.header-menu{
    transition: .5s;
    background-color: rgba(240, 248, 255, 0.367);
    width: 50px;
    height: 50px;
    border-radius: 8px;
}

.header-menu:hover{
    transform: scale(1.1);
    border: 2px solid white;
    background-color: rgba(240, 248, 255, 0.515);
    box-shadow: 0 0 4px white;
}

.menu-bar{
    width: 50px;
    height: 50px;
}

.header-restart{
    transition: .5s;
}

.header-restart:hover{
    transform: rotate(90deg);
}


.search-input-container{
    display: flex;
    background-color: rgba(240, 255, 255, 0.467);
    border-radius: 12px;
    justify-content: space-between;
    border: 2px solid rgba(255, 255, 255, 0);
}

.search-input-container:hover{
    border: 2px solid white;
}

input::placeholder{
    color: rgb(197, 197, 197);
}

.s-icon{
    width: 35px;
    height: 35px;
}

.search-icon{
    padding: 18px 10px 12px 16px;
    transition: .5s;
}

.search-icon:hover{
    transform: rotate(90deg);
}


.search-input{
    width: 650px;
    background-color: rgba(240, 255, 255, 0);
    border: 2px solid rgba(255, 255, 255, 0);
    border-radius: 12px;
    font-size: 20px;
    color: white;
}

.search-input:focus{
    outline: none;
    color: white;
}

.gps{
    padding: 14px 16px 10px 15px;
    animation: animation 3s infinite linear alternate;
}

@keyframes animation {
    100%{
        transform: rotateY(360deg);
    }
}

.gps-icon{
    width: 45px;
    height: 45px;
}

.toliq-malumot-container{
    width: 100%;
    margin-top: 40px;
    border: 1px solid rgba(255, 255, 255, 0.597);
    box-shadow: 0 0 4px white;
    background-color: rgb(102, 0, 255);
    border-radius: 12px;
    transition: .5s;
}

.toliq-malumot-container:hover{
    transform: scale(1.1);
    border: 1px solid rgb(255, 255, 255);
}

.toliq-malumot{
    display: flex;
    justify-content: space-between;
    text-align: center;
    color: white;
}

.icon-img{
    width: 170px;
    height: 170px;
}   

.icon-search-container{
    width: 600px;
    margin-left: 80px;
    display: flex;
    justify-content: space-between;
}

.gradus-toliq{
    display: flex;
    position: relative;
}

.max-temp{
    font-size: 80px;
    color: white;
}

.slesh{
    font-size: 40px;
    color: white;
    position: absolute;
    top: 60px;
    left: 100px;
}

.min-temp{
    font-size: 50px;
    color: white;
    position: absolute;
    top: 60px;
    left: 130px;
}

.ellipse1{
    position: absolute;
    left: 85px;
    top: 10px;
}

.ellipse2{
    width: 12px;
    position: absolute;
    left: 180px;
    top: 65px;
}

.zonik{
    padding: 10px 70px;
}

.icon-animation{
    animation: animation 3s infinite linear alternate;
}

@keyframes animation {
    100%{
        transform: rotateY(360deg);
    }
}

.icon-animation2{
    animation: animation2 1s infinite linear alternate;
}

@keyframes animation2 {
    0%{
        transform: translateY(-4px);
    }
    
    100%{
        transform: translateY(6px);
    }
}

.icon-animation3{
    animation: animation3 1s infinite linear alternate;
}

@keyframes animation3 {
    0%{
        transform: translateX(-4px);
    }
    
    100%{
        transform: translateX(6px);
    }
}

.days-container{
    margin-top: 30px;
}

.mon-con{
    display: flex;
    justify-content: space-between;
    color: white;
}

.d-icon{
    width: 50px;
    height: 50px;
}

.min-con{
    position: relative;
}

.temp-el{
    position: absolute;
    top: -5px;
    left: 24px;
    width: 8px;
}

.temp-ell{
    position: absolute;
    margin-top: -30px;
    margin-left: 25px;
    width: 8px;
}

.grd{
    display: flex;
    gap: 40px;
}

.uch{
    display: flex;
    gap: 200px;
}

.day-name{
    width: 150px;
}